@font-face{
  font-family: abster;
  src: url(font/abster-webfont.woff) format('woff');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{font-family: 'Noto Sans KR', sans-serif;}

.container{
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8) ),url("123.gif");
  background-size: cover;
  background-position: center center;
}
.container .header{
  width: 80%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .header h1 a {
  text-decoration: none;
  color: white;
  font-family: 'Caveat', cursive;
}
.container .nav ul li{
  display: inline-block;
  margin: 0 10px;
}
.container .nav ul li a{
  text-decoration: none;
  color: white;
}
.container .nav ul li a:hover{
  color:#1fdfdf;
}
.container .hero{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-family: 'Vujahday Script', cursive;
}
.main{
  margin-top: 10%;
}
.main h2{
  color: white;
  text-align: center;
  font-size: 2em;
  font-family: 'The Nautigal', cursive;
}
.main p{
  color: white;
  text-align: center;
  font-size: 1em;
}
table{
  margin-top: 5%;
  font-family: 'Noto Sans KR', sans-serif;
}
.card1{
  width: 200px;
  height: 300px;
  background-color: rgba(255,0,0,0.2); 
  position: relative;
  cursor: pointer;
  transition: all 0.5s;
}
.card1:hover{
  box-shadow: inset 0 0 0 100px rgba(0, 255, 55, 0.1);
}

.card1 p{
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -35px;
  color: white;
  transition: all 0.5s;
}
.card1 p:nth-of-type(2){
  transform:  scale(0);
}
.card1:hover p:nth-of-type(2){
  transform: scale(1);
}
.card1:hover p:nth-of-type(1){
  transform: scale(0);
}
.card2{
  width: 200px;
  height: 300px;
  background-color: rgba(240, 247, 147, 0.2); 
  position: relative;
  cursor: pointer;
  transition: all 0.5s;
}
.card2:hover{
  box-shadow: inset 0 0 0 100px rgba(0, 255, 64, 0.1);
}

.card2 p{
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -35px;
  margin-top: -35px;
  color: white;
  transition: all 0.5s;
}
.card2 p:nth-of-type(2){
  transform:  scale(0);
}
.card2:hover p:nth-of-type(2){
  transform: scale(1);
}
.card2:hover p:nth-of-type(1){
  transform: scale(0);
}
.card3{
  width: 200px;
  height: 300px;
  background-color: rgba(121, 228, 201, 0.2); 
  position: relative;
  cursor: pointer;
  transition: all 0.5s;
}
.card3:hover{
  box-shadow: inset 0 0 0 100px rgba(95, 2, 245, 0.1);
}

.card3 p{
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -35px;
  margin-top: -35px;
  color: white;
  transition: all 0.5s;
}
.card3 p:nth-of-type(2){
  transform:  scale(0);
}
.card3:hover p:nth-of-type(2){
  transform: scale(1);
}
.card3:hover p:nth-of-type(1){
  transform: scale(0);
}
.card4{
  width: 200px;
  height: 300px;
  background-color: rgba(155, 161, 247, 0.2); 
  position: relative;
  cursor: pointer;
  transition: all 0.5s;
}
.card4:hover{
  box-shadow: inset 0 0 0 100px rgba(234, 0, 255, 0.1);
}

.card4 p{
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -35px;
  margin-top: -35px;
  color: white;
  transition: all 0.5s;
}
.card4 p:nth-of-type(2){
  transform:  scale(0);
}
.card4:hover p:nth-of-type(2){
  transform: scale(1);
}
.card4:hover p:nth-of-type(1){
  transform: scale(0);
}